<div>
    <ng-container *ngIf="isLoadingDisponibles$ | async as loading; else errorOrContenu">
        <div style="display: flex; justify-content: center;">
            <div>
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
        </div>
    </ng-container>

    <ng-template #errorOrContenu>

        <div *ngIf="errorInLoadingDisponibles$ | async as error; else contenu">
            <div class="in_error">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="error"></mat-icon>
                Une erreur est survenue, veuillez recharger la page.
            </div>
        </div>

        <ng-template #contenu>

            <app-budget-parametrage-nav></app-budget-parametrage-nav>

            <div>
                <app-group-of-visualisations 
                    [id_visualisations]="id_visualisations"
                    [parametrable]="true">
                </app-group-of-visualisations>
            </div>

            <div class="boutons-bas-de-page">

                <button mat-raised-button (click)="rendre_pdf()">
                    <mat-icon>picture_as_pdf</mat-icon>
                    Rendre en PDF
                </button>

                <button mat-raised-button [cdkCopyToClipboard]="iframeFragment">
                    <mat-icon>code</mat-icon>
                    Copier l'iframe
                </button>

                <!-- <button mat-raised-button (click)="navigate_vers_consultation_url()">
                    <mat-icon>code</mat-icon>
                    Aller vers l'interface de consultation
                </button> -->
            </div>

        </ng-template>

    </ng-template>




</div>