<mat-card>
  <mat-card-title>MARQUE BLANCHE</mat-card-title>
  <mat-card-subtitle>Cette rubrique vous permet de visualiser en temps réel la "marque blanche" de publication des actes
    développée dans le cadre du projet opendata régional par Mégalis.
    Cette marque blanche, est un développement libre de droit initié par Gironde numérique <a
      href="https://gitlab.adullact.net/gironde-numerique/data-search-engine">(sources)</a>. Elle permet à tous, très
    simplement via une iframe dont vous trouverez le code ci-dessous, de s'en emparer pour mettre à disposition ses
    actes dans son propre site internet. Vous avez également ci-dessous un aperçu de la page ainsi créée. <br><br>
    Pour vous référencer en tant qu'utilisateur de la marque blanche ou tout simplement voir qui l'utilise, n'hésitez
    pas à consulter cette <a target="_blanck" href="https://bit.ly/3S9mHB9">carte</a>.
  </mat-card-subtitle>

  <div>
    Selectionner le theme:
    <mat-form-field appearance="fill">
      <mat-label>Theme</mat-label>
      <mat-select [(ngModel)]="theme" name="theme">
        <mat-option *ngFor="let theme of themes_combo" [value]="theme.code">
          {{theme.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <pre id="clipboard-example-textarea">
    {{htmlStr}}
  </pre>
  <!-- <textarea id="clipboard-example-textarea" cols="100" rows="10" [ngModel]="htmlStr"></textarea> -->

  <mat-card-actions align="end">
    <button mat-button
      [cdkCopyToClipboard]="htmlStr"
      (click)="ouvre_snackbar('L\'extrait de code vient d\'être copié dans le presse papier.')">
      COPIER
    </button>
  </mat-card-actions>
</mat-card>

<br>
<mat-card>
  <mat-card-title>Aperçu</mat-card-title>
  <ng-container *ngIf="safeObjectUrl as okaySafeUrl">
    <iframe referrerpolicy="strict-origin-when-cross-origin" style="border: 0;" [src]="safeObjectUrl"
      title="Marque blanche" width="100%" height="600">
    </iframe>
  </ng-container>
</mat-card>