include:
  - 'https://gitlab.sib.fr/megalis/extraction-data-stack/raw/master/.docker-template.yml'

before_script:
  - wget https://gitlab.sib.fr/megalis/extraction-data-stack/raw/master/init.sh
  - source ./init.sh
  - export http_proxy=http://pro01.sib.fr:3128
  - export https_proxy=http://pro01.sib.fr:3128
  - export no_proxy=sib.fr
  - apk update && apk add sshpass openssh-client bash

stages:
  - build-angular
  - build
  - deploy

build angular app:
  before_script:
    - export http_proxy=http://pro01.sib.fr:3128
    - export https_proxy=http://pro01.sib.fr:3128
  image: node:16.13-buster
  stage: build-angular
  script:
    - npm install --force --silent
    - ./node_modules/.bin/ng build --aot
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
  artifacts:
    expire_in: 15 mins
    paths:
      - dist/

docker image:
  extends: .build
  variables:
    IMAGE_NAME: "megalis/opendata/opendata-front"

deploy dev:
  extends: .deployInteg
  variables:
    STACK_NAME: "front-data"

deploy:
  extends: .deployPreProd
  variables:
    STACK_NAME: "front-data"

deploy pre-prod-master:
  extends: .deployPreprodManual
  variables:
    STACK_NAME: "front-data"

deploy prod:
  extends: .deployProd
  variables:
    STACK_NAME: "front-data"
