@import '/src/assets/scss/global-variables.scss';

.message {
    &--success {
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-success;
    }
    &--error {
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-error;
    }
}