<mat-card>

    <mat-card-title class="horizontal">
        <div>
            {{titre}}
        </div>

        <div *ngIf="parametrable">

            <!-- <button disabled (click)="onDeplacerClic()" class="menu-btn" mat-mini-fab color="basic">
                <mat-icon>open_with</mat-icon>
            </button>

            <button disabled (click)="onEditeClic()" class="menu-btn" mat-mini-fab color="basic">
                <mat-icon>edit</mat-icon>
            </button> -->
            <!-- <button disabled (click)="onEditeClic()" class="menu-btn" mat-mini-fab color="basic">
                    <mat-icon>edit</mat-icon>
            </button> -->

        </div>

    </mat-card-title>

    <mat-card-subtitle>
        {{description}}
    </mat-card-subtitle>

    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>

    <mat-card-footer class="horizontal">
        <div></div>
        <div>

            <button *ngIf="parametrable" (click)="visualizeIframeThroughDialog()" class="menu-btn" mat-mini-fab color="basic"
                matTooltip="Visualiser l'iframe de la section" matTooltipPosition="above">
                    <mat-icon>visibility</mat-icon>
                </button>

            <button *ngIf="parametrable" 
                [cdkCopyToClipboard]="computeIframeFragment()" 
                (click)="ouvre_snackbar('L\'extrait de code vient d\'être copié dans le presse papier.')"
                class="menu-btn" mat-mini-fab
                matTooltip="Copier l'iframe de la section" matTooltipPosition="above"
                color="basic">
                <mat-icon>code</mat-icon>
            </button>

            <button (click)="onExportClic()" class="menu-btn" mat-mini-fab color="basic"
                matTooltip="Exporter la section en image" matTooltipPosition="above">
                <mat-icon>upload</mat-icon>
            </button>
        </div>
    </mat-card-footer>

</mat-card>