<div class="publication-content">

  <mat-card>

    <div *ngIf="!is_admin_open_data()">
    <div *ngIf="etatPublication === '0'">
      <mat-card-title>&Agrave; STATUER</mat-card-title>
      <mat-card-subtitle>
        Vous trouverez ici uniquement les actes issus du flux de télétransmission des actes et dont le statut n'a pas encore été défini :<br>
        <ul>
          <li>
          <p>les actes identifiés à <strong>"ne sais pas"</strong> pour les <strong>actes gérés manuellement</strong>,</p>
          </li>
          <li>
          <p><strong>tous les actes</strong> issus des <strong>actes gérés automatiquement</strong> (flux actes génériques).</p>
          </li>
          </ul>
          <p>Dans l'attente, ces actes ne sont pas publiés.</p>
          <p><strong>Pour rappel concernant la publication sur les catalogues opendata</strong> (data.gouv.fr et <a title="https://data-catalogue.megalis.bretagne.bzh/fr/" href="https://data-catalogue.megalis.bretagne.bzh/fr/" rel="noopener noreferrer nofollow">https://data-catalogue.megalis.bretagne.bzh/fr/</a>) :</p>
          <ul>
          <li>
          <p><strong>seules les délibérations et budgets</strong> sont publiés à ce jour sur les portails opendata (data.gouv, catalogue Mégalis). En effet, le schéma national SCDL (socle commun de données locales) n'est pas encore établi au niveau national pour les autres actes,</p>
          </li>
          <li>
          <p><strong>dans le cas des délibérations</strong>, quand elles sont à l'état "non publié", cela veut dire que l'URL de la délibération n'est pas disponible sur les portails opendata (et la délibération et ses annexes ne sont pas publiées sur la marque blanche). Les métadonnées de la délibération (nom, objet, date, etc.) sont toujours a minima publiées sur les portails opendata.</p>
          </li>
          </ul>

              </mat-card-subtitle>


    </div>
    <div *ngIf="this.etatPublication === 'all'">
    <mat-card-title>TOUTES LES PUBLICATIONS</mat-card-title>
    <mat-card-subtitle>

      Vous trouverez ici l'ensemble des actes issus du flux de télétransmission des actes.<br /><br />Dans la colonne "État", il s'agit bien du statut de publication effectif au moment où vous consultez cette page :
<ul>
<li>
<p><strong>publié :</strong> l'acte et ses annexes sont publiés sur la marque blanche</p>
<p><strong>Dans le cas particulier des délibérations, l'URL de téléchargement de l'acte est également disponible</strong> sur les portails opendata.</p>
</li>
<li>
<p><strong>non publié :</strong> l'acte et ses annexes ne sont pas publiés sur la marque blanche</p>
<p><strong>Dans le cas particulier des délibérations : l'URL de téléchargement de l'acte n'est pas disponible</strong> sur les portails opendata. Seules les métadonnées des délibérations (nom, objet, date, etc.) sont alors publiées sur les portails opendata.</p>
</li>
</ul>


    </mat-card-subtitle>
    </div>
    </div>

    <div *ngIf="is_admin_open_data()">

      <mat-form-field hintLabel="9 caractères attendu" appearance="fill">
        <mat-label>Entrer un siren</mat-label>
<!--        maxlength="9" minlength="9"-->
        <input matInput  type="text" placeholder="Ex. 253514491" required (keyup)=filterSiren.next($any($event.target).value)>
      </mat-form-field>

    </div>
  <mat-toolbar id="tab-toolbar">

    <div *ngIf="selection.selected.length === 0">
      Cliquer sur un ou plusieurs actes pour changer son état
    </div>

    <div *ngIf="this.selection.selected.length > 0">
    <button id="publier-button" mat-icon-button class="material-icons md-48" (click)="this.selection.selected.length > 0 ? publish():msg_alert('aucune publication est selectionnée')" matTooltip="publier en open data">
      <mat-icon style="color: green">share</mat-icon>
    </button>
    </div>

    <div *ngIf="etatPublication!=='all' && this.selection.selected.length > 0">
      <button id="masquer-button" mat-icon-button class="material-icons md-48" (click)="this.selection.selected.length > 0 ? dontPusblish():msg_alert('aucune publication est selectionnée')" matTooltip="Ne pas publier">
        <mat-icon style="color: red">block</mat-icon>
      </button>
    </div>

    <div *ngIf="etatPublication!=='0' && this.selection.selected.length > 0">
      <button id="demasquer-button" mat-icon-button class="material-icons md-48" (click)="this.selection.selected.length > 0 ? unpublish():msg_alert('aucune publication est selectionnée')" matTooltip="dépublier">
        <mat-icon style="color: red"> block</mat-icon>
      </button>
    </div>

  </mat-toolbar>
  <div class="table-header">
    <div class="header">
      {{getLibelleNombre()}} ({{publicationTotal}})
    </div>
    <div class="search-bar">
      <mat-form-field>
        <input matInput type="text" placeholder="Rechercher des publications" (keyup)="filterSubject.next($any($event.target).value)" [(ngModel)]="valueSearchInput">
        <button *ngIf="valueSearchInput" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>


  <div class="mat-elevation-z8">
  <div class="table-container">
    <table  class="full-width-table" mat-table [dataSource]="dataSource" matSort matSortDisableClear="true"
           [matSortActive]="defaultSort.active" [matSortDirection]="defaultSort.direction">

      <ng-container matColumnDef="id">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>id</th>
        <td mat-cell class="dc-content" *matCellDef="let element">{{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="numero_de_lacte">
        <th style="width: 15%" mat-header-cell class="dc-label"  *matHeaderCellDef mat-sort-header>Numéro de l'acte</th>
        <td style="width: 15%" mat-cell class="dc-content" *matCellDef="let element">{{element.numero_de_lacte}} </td>
      </ng-container>

      <ng-container matColumnDef="objet">
        <th style="width: 30%" mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Objet</th>
        <td style="width: 30%" mat-cell class="dc-content" *matCellDef="let element"> {{element.objet}} </td>
      </ng-container>

      <ng-container matColumnDef="date_de_lacte">
        <th style="width: 10%"  mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Date de l'acte</th>
        <td style="width: 10%" mat-cell class="dc-content" *matCellDef="let element">{{element.date_de_lacte | date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="nb_pj">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Annexes</th>
        <td mat-cell class="dc-content" *matCellDef="let element">{{annexes_label(element)}}</td>
      </ng-container>

      <ng-container matColumnDef="etat">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>&Eacute;tat</th>
        <td mat-cell class="dc-content" *matCellDef="let element">{{getEtatLibelle(element.etat)}} </td>
      </ng-container>

      <ng-container matColumnDef="acte_nature">
        <th mat-header-cell class="dc-label" *matHeaderCellDef mat-sort-header>Type d'acte</th>
        <td mat-cell class="dc-content" *matCellDef="let element">{{getTypeActeLibelle(element.acte_nature)}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th style="width: 15%" mat-header-cell *matHeaderCellDef> Actions </th>
        <td style="width: 15%" mat-cell *matCellDef="let element" class="action-link">
          <span [matTooltip]="can_edit_annexes(element).raison">
            <button color="primary" mat-icon-button class="material-icons md-48" 
              [disabled]="!can_edit_annexes(element).can"
              id="gestion-annexe-button" (click)="openGestionAnnexe($event, element)" matTooltip="Ouvrir la gestion d'annexes">
            <mat-icon>article</mat-icon>
          </button>
          </span>
          <button color="primary" id="view-button" mat-icon-button class="material-icons md-48" (click)="openActe($event,element)" matTooltip="ouvrir l'acte">
            <mat-icon>visibility</mat-icon>
          </button>
          <button color="primary" id="edit-button" mat-icon-button class="material-icons md-48" (click)="openDialog($event,'Update',element)" matTooltip="éditer l'objet de l'acte">
            <mat-icon>edit</mat-icon>
          </button>
          <button color="primary" id="delete-button" mat-icon-button class="material-icons md-48" (click)="openDialog($event,'Delete',element)" matTooltip="supprimer l'acte">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="noData">
        <td mat-cell class="dc-label no-data-cell" *matCellDef="let element"
            [attr.colspan]="displayedColumns.length">
          <ng-container *ngIf="(error$ | async)===false && !loading">
            <span class="dc-content">Aucune publication {{getLibelleFilter()}}</span>
          </ng-container>
          <ng-container *ngIf="(error$ | async) && !loading">
            <span class="dc-label">Erreur</span>
            <span class="dc-content">Impossible de récupérer les publications à valider</span>
            <span class="retry" (click)="retry()">Réessayer ?</span>
          </ng-container>
          <ng-container *ngIf="loading">
            <span class="dc-label">Récupération des données...</span>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
      <ng-container *ngIf="!publicationTotal || loading">
        <tr mat-row *matRowDef="let row; columns: ['noData'];"class="no-data-row" ></tr>
      </ng-container>
      <ng-container *ngIf="publicationTotal && !loading">
        <tr mat-row  (click)="rowClick(row)" *matRowDef="let row; columns: displayedColumns;" class="customer-row"></tr>
      </ng-container>
    </table>

    <mat-paginator [length]="publicationTotal" [pageSize]="10"  [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
  </div>
</div>

  </mat-card>

</div>


