@import '/src/assets/scss/global-variables.scss';

.message {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message--success {
    @extend .message;
    color: $color-success;
}

.message--error {
    @extend .message;
    color: $color-error;
}