<div [formGroup]="formulaire.fg">

  <mat-tab-group #selecteurAnnee [(selectedIndex)]="formulaire.annee_selected_index">
    <mat-tab *ngFor="let annee of formulaire.annees_disponibles" [label]="annee.toString()">
    </mat-tab>
  </mat-tab-group>

  <!-- <p>Selected index: {{anneesSelectedIndex}} </p> -->

  <br>

  <div class="horizontal">

    <mat-form-field>
      <mat-label>Établissement</mat-label>
      <mat-select [(value)]="this.formulaire.etablissement">
        <mat-option [value]="option.value" *ngFor="let option of this.formulaire.etablissements_options" [disabled]="option.disabled">
          {{option.viewValue}} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Étape du budget</mat-label>
      <mat-select [(value)]="this.formulaire.etape">
        <mat-option [value]="option.value" *ngFor="let option of this.formulaire.etapes_options" [disabled]="option.disabled">
          {{option.viewValue}} </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</div>