<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>ACTIVATION DU SERVICE DE PUBLICATION AUTOMATIQUE</mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <p>L'activation du service de publication vous permettra, sans effort supplémentaire, de publier automatiquement vers 
      <a href="https://www.data.gouv.fr/fr/organizations/megalis-bretagne/#datasets" target="_blank">data.gouv.fr</a> et vers le <a href="https://data-catalogue.megalis.bretagne.bzh/fr/" target="_blank">catalogue régional</a> au sein de votre organisation, 
      les délibérations et budgets que vous télétransmettez via la plateforme de services Mégalis.<br /><br />
      Chaque nuit, ces délibérations et budgets seront extraits, mis au format standard SCDL (<a href="https://schema.data.gouv.fr/scdl/deliberations/latest.html" target="_blank">SCDL délibération</a>  
      ou <a href="https://schema.data.gouv.fr/scdl/budget/latest.html" target="_blank">SCDL budget</a>) 
      et actualisés sur les 2 catalogues opendata précités.
    </p>
    <mat-slide-toggle (change)="onChangeActivationOpenData()" [(ngModel)]="isChecked">{{isChecked ? 'Activé':'Désactivé'}}</mat-slide-toggle>
    <p>
    <br><br>
    <p><br /><strong>Point RGPD :</strong> <br />*************** <br />
    Concernant les budgets :<br />
    Pas de contrainte RGPD, ils sont automatiquement publiés dans tous les cas. <br /><br />
    Concernant les actes :<br />
    Les actes peuvent éventuellement contenir des informations personnelles. Au moment de la télétransmission de vos documents, vous pourrez choisir "oui", "non" ou "ne sais pas" à la question de la publication opendata.</p>
    <ul>
    <li>
    <p>Si vous choisissez oui, le document sera publié.</p>
    </li>
    <li>
    <p>Si vous choisissez "ne sais pas", le document ne sera pas publié, dans l'attente que son statut soit déterminé dans le menu "A statuer".</p>
    </li>
    <li>
    <p>Si vous choisissez "non", le document ne sera pas publié.</p>
    </li>
    </ul>
    <p>Dans tous les cas, vous pourrez toujours revenir a posteriori sur l'état du document ("publié" ou "non publié") via le menu "Toutes les publications".</p>
    <p> </p>
    <p><strong>Rappel pour la marque-blanche :</strong> <br />**************************************</p>
    <p>Tous les actes mis à "oui", y compris actes réglementaires, actes individuels ou autres, sont publiés sur la marque-blanche. </p>
  </mat-card-content>
</mat-card>

<!--<form [formGroup]="form" (ngSubmit)="onFormSubmit()" ngNativeValidate>-->
<!--  <mat-card class="shipping-card">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Data gouv information</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <p>Publication data gouv</p>-->
<!--      <mat-slide-toggle formControlName="enableDataGouv">activé publication data gouv</mat-slide-toggle>-->
<!--      <mat-form-field class="full-width">-->
<!--        <input matInput placeholder="uid udata" formControlName="uid">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field class="full-width">-->
<!--        <input matInput placeholder="clef api" formControlName="apiKey">-->
<!--      </mat-form-field>-->
<!--    </mat-card-content>-->
<!--    <mat-card-actions>-->
<!--      <button mat-raised-button color="primary" type="submit">Submit</button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->
<!--    -->
<!--</form>-->
